.footer-list {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    list-style-type: none;
}
.footer-list li {
    float: left;
    margin: 30px 5px 5px 5px;
}

.footer-list li.final-item {
    float: right;
    margin: 30px 5px 0px 5px;
    color: white;
}

.footer-list li a, .footer-list li p {
    color: white;
}

.footer-list li a:hover {
    color: rgb(165, 165, 165);
}

.trailer {
    padding: 0px;
}